div.hc-footer(class=className)
  .hc-footer-chunk(style='padding: 3em 1em;')
    div.section.footer-light.row
      .three.columns
        h3 Help Build Storecoin
        ul
          li
            a(href=URL('/developer')) Build your app on Storecoin
          li
            a(href=URL('/code')) Contribute Code
          li
            a(href=URL('/review')) Peer Review upcoming Research
          li
            a(href=URL('/validate')) Become a Validator
          li
            a(href=URL('/masternode')) Host an eAgent Masternode
          li
            a(href=URL('/validate')) Become a dGuard
          li
            a(href=URL('/govnode')) Run a Govnode
          li
            a(href=URL('/careers')) Careers

      .three.columns
        h3 About
        ul
          li
            a(href="https://news.storeco.in/") News
          li
            a(href=URL('/team')) Our Team
          li
            a(href=URL('/milestones')) Milestones
          li
            a(href=URL('/engineering')) Engineering Roadmap
          li
            a(href=URL('/research')) Our Research
          li
            a(href='https://github.com/StorecoinProject', target="_blank") Github
          li
            a(href=URL('/contact')) Contact Us

      .three.columns
        h3 Social
        ul
          li
            a(href=URL('/tee')) Earn a Storecoin Tee Shirt
          li
            a(href=URL('/shop'), target="_blank") Buy Storecoin Swag
          li
            a(href=URL('/community')) Subscribe to Email Updates
          li
            a(href=URL('/devnotes')) Subscribe to DevNotes
          li
            a(href="http://t.me/storecoin", target="_blank") Join our Telegram Super Group
          li
            a(href="http://t.me/storecointeam", target="_blank") Join our t.me Announcement Channel
          li
            a(href='http://twitter.com/storecoin', target="_blank") Twitter

      .three.columns
        img(src='/images/empty.png', data-src='/images/logo-v1.png', style='width:100px; height: auto;')
        div
        p(style='font-size: 0.7em; padding: 0.5em 0;')
          a(href=URL('/'))
            strong Storecoin
          |  is a zero-fee, high-throughput, and decentralized cryptocurrency with a Governance of checks and balances.
          
    div.section.row
      b(style='color: white;') © 2018 Storecoin, Inc
