extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b Storecoin is a new public blockchain.
        h2.hc-feature-lead With its Dynamic Proof of Stake consensus protocol (DyPoS), Storecoin will deliver free transactions, high-throughput, dynamic economics, decentralized security, and a governance system with built-in checks and balances inspired by the United States Constitution.
        div.desktop-image
          h2.hc-feature-lead(style="margin:0px;") Storecoin will become the best digital asset for delivering free, fast, and scalable payments.
        div.mobile-image
          h2.hc-feature-lead(style="margin:0px;") Storecoin will become the best digital asset for delivering free, fast, and scalable payments.
    
    div#second-token-sale
    - var top = true  
    include email-widget
    
    include about-token-sale-2
    
    #our-mission.hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Mission
        p.hc-feature-lead(style="margin: 0 auto; max-width: 660px;") To become new payment infrastructure and new incentivization infrastructure for the global internet. 
    
    #token-sale-buyers.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin-bottom: 1.5em;") First Token Sale buyers
        #hc-buyers-slider.logo-slider
          .slide
            a(href="http://blocktower.com", target="_blank")
              img(src='/images/blacktower-logo.png')
          //- .slide
          //-   img(src='/images/blockfolio-logo.png')
          .slide
            a(href="http://palmdrivecap.com/", target="_blank")
              img(src='/images/palm-drive-logo.jpg')
          .slide
            img(src='/images/clinton-polley.png', style="width:40%;")
              
    include storeco-vs-blockchains
    
    include network-distribution
    
    include our-latest
    
    #orange-paper.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;")  This is our Orange Paper
        p (Our Whitepaper will release once we're finished with technical R&D)
        
    include storecoin-comparison-table
    
    #our-vision.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead In 1879, Thomas Edison brought commercial light bulbs to the world. These light bulbs eventually changed how we work, how we play, and how we communicate.
        div.hc-image
          img.bulb-off(src="/images/bulb-glow.png")
          img.bulb-glow(src="/images/bulb-glow-v2.png", style="display:none;")
        p.hc-feature-lead By 2020, Storecoin will bring free, crypto-powered transactions to millions of apps, to trillions of API calls, and to thousands of mobile and web developers.
        p.hc-feature-lead(style="margin-bottom:0px;") On-chain, crypto-powered API calls will create entirely new markets and new incentives for apps.  
    
    include our-team-widget
    
    div#business-case
      .hc-feature.over-rel.inverted.padding
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Business Case for Storecoin
          p.hc-feature-lead Today, using traditional banking infrastructure, mobile and web app developers have to pay fees ranging from 2.5%-3% of the transaction size plus an additional $0.30 to process in-app payments – for every single transaction!
          p.hc-feature-lead This limits innovation, especially innovation powered by micropayments.
          .hc-image
            img(src="/images/wallet-icon.png", style="max-width:100px;")
          p.hc-feature-lead With free transactions for cryptocurrency-based payments, Storecoin will unlock it.
          div.coin
            div.tails
            div.heads
              
    #market-case.hc-feature.over-rel.padding.left-align
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title The Market Case for Storecoin
        p.hc-feature-lead Storecoin is the only digital asset with a clear payments use case designed to solve a multi-billion dollar problem – the transaction fee problem for mobile and web app developers all around the world.
        p.hc-feature-lead Storecoin keeps payments 
          b permanently free 
          | for application developers – including payments that are less than a penny.
        p.hc-feature-lead Storecoin does this with its Dynamic Proof of Stake consensus algorithm (called “DyPoS)”
        p.hc-feature-lead Unlike smart contract-powered public blockchains, Storecoin doesn't require developers to rebuild their applications as decentralized apps (called “dApps”).
        p.hc-feature-lead Instead, Storecoin brings its digital asset – the storecoin token – directly into mobile and web apps as a new crypto-powered payments and incentivization platform.
        p.hc-feature-lead We call these apps “cApps” – or 
          b crypto-powered apps.
        p.hc-feature-lead With this approach, Storecoin will become new payment infrastructure and new incentivization infrastructure 
          b for the global internet.
          
    #storecoin-fits-in.hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Where Storecoin fits in
        p.hc-feature-lead The market for crypto-powered payments and incentives inside of apps — called cApps.
        .hc-image
          .desktop-image 
            img(src='/images/storecoin-fits-in-v4.png', style="max-width:700px; width:100%;")
          .mobile-image 
            img(src='/images/storecoin-fits-in-mobile-v4.png') 
            
            
    include app-types 
    
    .hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;")  About Dynamic Proof of Stake (DyPoS)

    include six-engines
    
    include dypos-algorithm
    
    .hc-feature.over-rel.padding.info-fullscreen
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Free Transactions are Financed 
        p.hc-feature-lead Transactions are free for users because they are paid for with capped, yearly token inflation of 5%. 4% is paid to block proposers. 1% endows Storecoin to secure, build, and operate the blockchain.
        .hc-image
          img(src="/images/dynamic-reward-flow-v3.png") 
    
    //- banner
    .hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;") How Storecoin is Secured
        
    #security-system.security-system-lite.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.title-icon
          img.icon(src="/images/red-caution.png", align="top") 
          | The Storecoin Security System 
        p.hc-feature-lead The Storecoin Security System powers real-time market prices for the Six Engines of DyPoS. The System threat level algorithmically updates as transaction volumes rise and fall. As threat levels rise, the cost of spam and attacks rise too.
        p(style="text-align:center; margin: 1em;") 
          span(style="border: 2px solid #65954c; border-radius: 7px; padding: 0.3em 0.5em;") Click boxes to see Economics
        div.hazard-boxes
          - var secVals = ['5,000 storecoins', '5,000 edisons', '5%', '50', '50', '1,000 edisons', '90%'];
          - var secTemplate = function(secVals) { return '<ul><li>Stake Required For New Validators: <span class="orange-color">'+secVals[0]+'</span></li><li>Security Bond to Send Txn: <span class="orange-color">'+secVals[1]+'</span></li><li>Interest Paid on Security Bond: <span class="orange-color">'+secVals[2]+'</span></li><li># of Security Guards Needed: <span class="orange-color">'+secVals[3]+'</span></li><li>Stake Required to Guard: <span class="orange-color">'+secVals[4]+'</span></li><li>Cost to File a Ticket: <span class="orange-color">'+secVals[5]+'</span></li><li>Stake or Bond Earned by Guard: <span class="orange-color">'+secVals[6]+'</span></li></ul>';};
          - var title = secTemplate(secVals);
          div.box.red(title=title)
            h3 Severe
            p Severe risk of an attack or an spam
          - secVals = ['2,500 storecoins', '2,500 edisons', '4%', '40', '100', '750 edisons', '80%'];
          - title = secTemplate(secVals);
          div.box.skin(title=title)
            h3 High
            p High risk of an attack or an spam
          - secVals = ['1,500 storecoins', '1,000 edisons', '3%', '30', '200', '500 edisons', '70%'];
          - title = secTemplate(secVals);
          div.box.yellow(title=title)
            h3 Elevated
            p Significant risk of an attack or an spam
          - secVals = ['1,000 storecoins', '500 edisons', '2%', '20', '500', '250 edisons', '60%'];
          - title = secTemplate(secVals);
          div.box.blue(title=title)
            h3 Guarded
            p General risk of an attack or an spam
          - secVals = ['500 storecoins', '250 edisons', '1%', '10', '1,000', '100 edisons', '50%'];
          - title = secTemplate(secVals);
          div.box.green(title=title)
            h3 Low
            p Low risk of an attack or an spam
            
    .hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How dGuards Secure the Blockchain
        p.hc-feature-lead dGuards are the decentralized security network on Storecoin that secures the blockchain by finding bad actors across the validator pool, the Wallet SDK network, and in transactions. dGuards run full nodes to study transactions and validator behavior. They're rewarded with +50% of the burned stake from bad validators or +50% of the security bond from bad senders.
        .hc-image
          img(src="/images/how-dynamic-sec-works-v3.png")
    
    .hc-feature.over-rel.padding.info-fullscreen
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Free Transactions are Secured With Bonds  
        p.hc-feature-lead To prevent Storecoin from a DDoS attack or from the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction. 
        .hc-image
          img(src="/images/how-dynamic-transaction-works-v3.png") 
          
    //- banner
    .hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;") How Checks and Balances prevent centralization
    
    .hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title The Four Branches of Storecoin Governance  
        p.hc-feature-lead Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. 
        .hc-image
          img(src="/images/gov-branches-v2.png") 
          
    .hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Governance is Hired  
        p.hc-feature-lead For the first 4 years, Storecoin, Inc. will have executive power over the blockchain. Then, our security-first Governance will guide all Changes to leadership, to features, and to Governance itself. 
        .hc-image
          img(src="/images/gov-hired-v2.png") 
          
    .hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Checks and Balances Work  
        p.hc-feature-lead How protocol changes, security fixes, and Governance amendments are made. 
        .hc-image
          img(src="/images/checks-balances-work-v2.png") 
          
    .hc-feature.over-rel.padding.info-fullscreen
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Every Storecoin Token Owner Can Create Change  
        .hc-image
          img(src="/images/token-owner-v2.png") 
    
    .hc-feature.over-rel.padding.inverted.left-align
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Why Governance Matters
        p.hc-feature-lead Governance takes a system that has been vetted for hundreds of years – the U.S. Constitution – but removes the politics and replaces it with technology.  
        p.hc-feature-lead
          | With Governance, Storecoin will:
        ul(style='list-style:disc; margin-left: 1em;')
          li Operate with yearly income that funds blockchain security, engineering, governance, and OpEx
          li Make changes only if they can be secured
          li Mitigate spam, attacks, and fraud throughout the entire blockchain ecosystem
          li Prevent malicious activity such as a hard fork
          li Maximize decentralization
          li Give every token holder a voice
          li Allow application developers to deliver crypto-powered free transactions for users, forever
          
    //- banner
    .hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin: 0px !important;") How Storecoin gets market adoption
        
    #alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A collation of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.
        a(href="http://footprintchat.com", target="_blank").hc-image
          img(src='/images/footprint-white-logo.png')
    
    #partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider.logo-slider
          .slide
            a(href="https://aws.amazon.com/activate/", target="_blank")
              img(src='/images/AWS-Activate.png')
              p $100,000	in	Amazon	AWS	credits
          //- .slide
          //-   img(src='/images/footprint-white-logo.png')
          //-   p First	major	App developers
          .slide
            a(href="https://www.fenwick.com/pages/default.aspx", target="_blank")
              img(src='/images/fenwick-west-logo.png', style='width:60%;')
              p Blockchain Patent Lawyers
          .slide
            a(href="https://www.coinfabrik.com/", target="_blank")
              img(src='/images/logo-coinfabrik.png', style='width:80%;')
              p Blockchain	Development	Partners
          .slide
            a(href="http://bottomlinelawgroup.com/", target="_blank")
              img(src='/images/bottom-line-logo.png', style='width:80%;')
              p Legal and SEC Compliance
          .slide
            img(src='/images/clinton-polley.png', style='width: auto; height: 110px;')
            p Founding Validators for Storecoin
    
    #distribution-strategy.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Wallet-based Distribution Strategy
        p.hc-feature-lead Storecoin will enable crypto-powered payments and incentives inside of apps with its Wallet -- a developer API to be used by any web or mobile application in the world. 
        //- div.hc-image
        //-   img.desktop-image(src="/images/strategy-distribution.png", style="width:100%;")
        //-   img.mobile-image(src="/images/strategy-distribution-mobile.png", style="width:100%;")
        div.desktop-image
          div.hc-strat-dist.five
            img(src="/images/strat-dist-5-v2.png")
            p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into fiat.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-4-v2.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-3-v2.png")
            p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-2-v2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-1-v2.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
        div.mobile-image
          p(style="text-align:center; margin: 1em;") 
            span(style="border: 2px solid #44613478; border-radius: 7px; padding: 0.3em 0.5em; color: #446134;") Click Graphics to Learn More
          div.hc-strat-dist.five
            img(src="/images/strat-dist-mobile-5-v2.png")
            p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into fiat.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-mobile-4-v2.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-mobile-3-v2.png")
            p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-mobile-2-v2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-mobile-1-v2.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
            
    #how-wallet-works.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How the Storecoin Wallet Works
        p.hc-feature-lead Once Third Party Developers integrate the Storecoin Wallet into their apps, every user on their app can have a Storecoin wallet. Storecoin can even power payments. Apps that build on top of Storecoin will be called crypto-powered apps -- or cApps.
        div.wallet-screens
          div.screen
            div.title
              a(href="/wallet", target="_blank") 
                b Every user has a wallet
            img(src="/images/wall-screen-1-v2.png")
          div.screen
            div.title 
              a(href="/wallet", target="_blank") 
                b Users can sell their storecoins
            img(src="/images/wall-screen-2-v2.png")
          div.screen
            div.title 
              a(href="/wallet", target="_blank")
                b Users can trade their storecoins
            img(src="/images/wall-screen-3-v2.png")
          div.screen
            div.title 
              a(href="/wallet", target="_blank")
                b Users can gift their storecoins
            img(src="/images/wall-screen-4-v2.png")
        p.hc-feature-lead(style="margin-bottom: 0px; text-decoration: underline; margin-top:1.5em;")
          a(href="/wallet", target="_blank").orange-color See a Prototype for the Storecoin Wallet.
    
    .hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Storecoin Grows
        p.hc-feature-lead Using our 33% Incentivization Pool, we can award tokens to third party developers – both Fortune 100 companies and indie developers – to kickstart their development with storecoins. If Storecoin drives either revenue, engagement, or user growth, then they'll likely buy additional tokens to continue the new growth.
        .hc-image
          img(src="/images/storecoin-grow-v2.png")
    
    //- banner
    .hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;") How the Storecoin public blockchain works
        
    .hc-feature.over-rel.padding.info-fullscreen(style="overflow:visible;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Payments Are Free, Fast, and Scalable  
        p.hc-feature-lead How the Dynamic Proof of Stake consensus algorithm keeps transactions permanently free while perpetually funding blockchain security, engineering, and governance. 
        .hc-image
          img(src="/images/blockchain-steps-1-4-v2.png") 
        #8-steps.see-more-reveal
          .hc-image
            img(src="/images/blockchain-8-steps-v2.png")
    //- 
    .hc-feature.over-rel.padding.inverted.orange(style="overflow:visible; padding: 0px;")
      .hc-chunk.hc-customize-text-wrapper
        div.link-container.hanging
          a.link-text.see-more(data-link="#8-steps", data-margin="33,44", data-scroll="true", style="border: 3px solid;") See 8 More Steps
            i.ion-ios-arrow-down
            
    //- banner
    .hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;") How to get involved
        
    include project-schedule
    
    #validate.hc-feature.over-rel.padding(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Help Validate the future Storecoin Blockchain
        .hc-image
          img(src="/images/blchain-verification.png", style="max-width:200px; width:100%;")
        p.hc-feature-lead(style=" margin-bottom:0px !important; color:#5d794c; text-decoration:underline;") 
          a(href="/applytoforge", target="_blank",style="font-size:30px;") Apply
          
    #security-guard.hc-feature.over-rel.padding.inverted.orange(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a dGuard for Storecoin
        .hc-image
          img(src="/images/security-guards.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 1em;")
        p.hc-feature-lead(style=" margin-bottom:0px !important; color:#5d794c; text-decoration:underline;") 
          a(href="/dguard", target="_blank",style="font-size:30px;") Apply

    #join-community.hc-feature.over-rel.padding
      .hc-chunk
        include join-community
    
    - top = false
    include email-widget

  div#info-image-modal.ui.large.modal
    i.ion-android-close
    div.content
