doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='author', content='')
    - var pageTitle = ''
    if meta
      if meta.title !== 'Storecoin'
        - pageTitle = meta.title+' - Storecoin'
      else
        - pageTitle = meta.title

      title= pageTitle
      meta(property='og:url', content=meta.url)
      meta(property='og:type', content=meta.type)
      meta(property='og:title', content=pageTitle)
      meta(property='og:description', content=meta.desc)
      meta(property='og:image', content=meta.image)
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@storecoin')
      meta(name='twitter:title', content=pageTitle)
      meta(name='twitter:description', content=meta.desc)
      meta(name='twitter:image', content=meta.image_tw)
    else
      title= title

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/assets/styles.css?v=3.39')
    script(async, src='/assets/script.js?v=3.39')

    block more-head

  body
    - var className = ''
    if v2
      - className = 'v2'

    #100-year-supply.intro-popup(style="display:none;")
      .hc-image
        img(src='/images/empty.png', data-src="/images/1000-year-supply-v1.png", style="width: 100%;")

    #hc-nav-wrapper.add-background(class=className)
      p.hc-intro-post
        a(href=URL('/tee'), target="_blank")  Earn a Storecoin Tee-Shirt
        span
          i.ion-record
        a(href=URL('/milestones'), target="_blank")  ✔️  See our latest Milestones
      .container
        .row
          a.hc-branding.store-auth(data-featherlight="#100-year-supply")
            span.hc-number-dist(style="border-bottom: 1px solid white;")
              span 1 Billion
              span.away STORE tokens authorized
          .hc-branding.logo
            a.hc-title(href=URL('/'))
          div.hc-branding.invite-dropdown
            if countdown
              a.sale-invite(onclick="opentoken_contribute_click('https://app.opentoken.com/contribute/storecoin/', event);") Join Our Whitelist
            else
              a.sale-invite(data-id="#tokensale") Reserve an allocation in Round 3
            div.hc-menu-dropdown
              i.ion-android-more-vertical
              div.nav-menu
                include footer

      include email-subscribe

    include social-nav

    block content

    include footer

    div#hc-disclaimer
      .container
        p.header
          b DISCLAIMER
        p.text Nothing herein is intended to be an offer to sell or solicitation of offer to buy, Storecoin tokens or rights to receive Storecoin tokens in the future. In the event that Storecoin conducts an offering of Storecoin tokens (or rights to receive Storecoin tokens in the future), Storecoin will do so in compliance with all applicable laws which may include the Securities Act of 1933 and the rules and regulations promulgated thereunder, as well as applicable state and foreign law. Any offering for sale to US Persons in a regulated transaction will be pursuant to a registration statement qualified by the Securities and Exchange Commission, or an applicable exemption from the registration requirements.

    div#sale-invite-modal.ui.small.modal
      i.ion-android-close
      div.content
        h4(style="text-align:center;") Get invited to our third, milestone-based Token Event
        form(action='https://storeco.us16.list-manage.com/subscribe/post?u=49990f91819fec5293c84bbe8&id=2aca88b02e', method='POST', target='_blank', novalidate='')
          input.u-full-width(type='email', name='EMAIL', placeholder='Enter your email address')
          input.button-primary(type='submit', value='SUBMIT')

    div#info-image-modal.ui.large.modal
      i.ion-android-close
      div.content
        div.image-modal-container
