extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      #third-token-sale.blog-news.hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h1.article-title Welcome to the
            span(style="color:#c2c2c2;")  pre-sale
            |  of the
            = ' ' 
            span=sale.name
            | , Invite-Only Token Sale for Storecoin (STORE)
            
          p.hc-feature-lead.jump-to-buy
            a Jump to Buy Order form
              i.ion-chevron-down
          
          ul(style="margin-top: 1em;")
            li 
              b Hard Cap:
              = ' '
              span=sale.hard_cap
            li 
              b Price Per Token:
              = ' '
              span=sale.price_per_token
            li 
              b Fully Diluted Network Value: 
              = ' '
              span=sale.network_value
            li
              b Funds Accepted: 
              |  ETH, BTC, USD Wire
            li 
              b Pre-Sale Ends:
              = ' '
              span=sale.pre_sale_ends
            li 
              b % of Treasury To Be Sold:
              = ' '
              span=sale.treasury_percent
            li 
              b Minimum Investment:
              = ' '
              span=sale.min_invest
            li 
              b Maximum Investment:
              = ' '
              span=sale.max_invest
            li 
              b KYC and AML-checks-required:
              |  Yes
            li
              b Can my country participate?
              |  Investors located in most countries can participate, provided they meet 
              = ' '
              a.underline(href="/accredited", target="_blank") the standards of a U.S. accredited investor
            li
              b Does total total cryptocurrency ownership count for being accredited (including ICO tokens still not yet released by the teams)?
              |  Yes
            li
              b Definition of being accredited: 
              a.underline(href="/accredited", target="_blank") See here
            li 
              b Investors will receive Tokens in their Storecoin Wallets:
              |  Before the start of 2020 or when the protocol launches -- whatever comes first
            li 
              b Results of the First Two Sales:
              |  11.27% of Treasury Sold for $1,613,500 of public funding
            li 
              b # Wallets in the First Two Sales:
              |  220
            li 
              b # of STORE Authorized:
              |  1 Billion
            li 
              b % to be sold to the public in up to 6 milestone-based sales:
              |  34% 
              br
              span(style="font-size:0.8em; font-weight:light;") (1% to cover cost of all token sales, 33% will be sold to fund Treasury before the protocol launches)
                
          p Storecoin is a pre-launch public blockchain protocol therefore, for our Third-Invite Only Token Sale, we are treating Storecoin tokens as securities. Purchasers in this 
            = ' '
            span=sale.hard_cap
            |  Token Sale must be
            = ' '
            a(href="/accredited", target="_blank") accredited investors
            |  under U.S. law and comply with laws and regulations of their respective countries.

      include token-sale-buyers
      
      - var tokensale = true
      include people-saying
      
      .blog-news.hc-feature.over-rel.padding(style="padding-bottom: 0px;")
        .hc-chunk.hc-intro-text-wrapper
          .hc-image.info-fullscreen(style="padding:0px;")
            img(src='/images/empty.png', data-src=sale.basis_point_img)
          p.caption(style="margin-bottom:0px;text-align:right;") *View data at 
            a(href="http://storeco.in/onepoint", target="_blank") http://storeco.in/onepoint 
          p.caption(style="text-align:right;") *Storecoin may have up to six, milestone-based token sales
    
    #pomelo-paper.hc-feature.over-rel.padding.pink.banner
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin-top: 0px;") Download the latest pre-whitepaper

        div.row.tokensale-3
          div.item
            i.ion-record
            a.underline(href="/media/storecoin-pomelo-paper.pdf", target="_blank") Download the Full Pomelo Paper
          div.item
            i.ion-record
            a.underline(href="/media/storecoin-summary.pdf", target="_blank") Download the Summary
          div.item
            i.ion-record
            a.underline(href="/milestones", target="_blank") See All Milestones
    
    div.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        if sale.embed
          iframe(src=sale.embed.src, width="100%", style=sale.embed.height, frameBorder="0")
        else
          div.hc-feature-lead Coming Shortly
    
    #accredited.intro-popup(style="display:none; text-align:left;")
      p An accredited investor includes:
      ol(style="list-style: lower-alpha; margin-left:1em;")
        li 
          b Any person that:
          ul
            li Earned income that exceeded $200,000 (or $300,000 together with a spouse) in each of the prior two years, and reasonably expects the same for the current year. This may include income from cryptocurrency.
            p(style="text-align:center;")
              b OR
            li Has a net worth over $1 million, either alone or together with a spouse (excluding the value of the person’s primary residence). This may includes ownership of cryptocurrency, including not yet released ICOs and token projects.
        li 
          b Any entity such as banks, partnerships, corporations, nonprofits and trusts who:
          ul
            li Has total assets in excess of $5 million but were not formed to specifically for the purchase of the subject securities. This includes ownership of cryptocurrency.
            p(style="text-align:center;")
              b OR
            li Any entity in which all of the equity owners are accredited investors. This includes ownership of cryptocurrency.
